html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.2em;
    line-height: 1.4;
}

header {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

h2, h5 {
    margin: 5px;
}